# .env.example
# Choose database type: 'spatialite' or 'postgis'
DB_TYPE=spatialite

# Django settings
SECRET_KEY='django-insecure-3zmj3sfqz9@@h^l6_vxi=t0bv$isrx=+9wmy@$@bu27s1$m-dm'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1