# Django settings
DEBUG=True
SECRET_KEY=

# Database PostgreSQL(example)
DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Optional: Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
