DEBUG=True
SECRET_KEY=django-insecure-3zmj3sfqz9@@h^l6_vxi=t0bv$isrx+9wmy

DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=petoria
DB_USER=mahshid
DB_PASSWORD=12345
DB_HOST=localhost
DB_PORT=5432

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
DB_TYPE=postgis
